@model RegisterUserViewModel
<div class="">
    <form asp-action="RegisterUser" method="post">
        <h1>ثبت کابر جدید</h1>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="EmailAddress"></label>
            <input class="form-control" asp-for="EmailAddress" placeholder="آدرس ایمیل" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password" placeholder="رمز عبور" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input class="form-control" asp-for="ConfirmPassword" placeholder="تکرار رمز عبور" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input class="form-control" asp-for="FirstName" placeholder="نام" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input class="form-control" asp-for="LastName" placeholder="نام خانوادگی" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNum"></label>
            <input class="form-control" asp-for="PhoneNum" placeholder="شماره تلفن" />
            <span asp-validation-for="PhoneNum" class="text-danger"></span>
        </div>
        <button class="btn btn-success" style="margin-top:4px;">ثبت</button>

    </form>
</div>